@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */

/* Light Mode */
html {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #f1f5f9; /* Thumb color, Track color */
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #f1f5f9;
}

/* Dark Mode */
html.dark {
    scrollbar-color: #4b5563 #1f2937; /* Thumb color, Track color */
}

html.dark::-webkit-scrollbar-thumb {
    background-color: #4b5563;
}

html.dark::-webkit-scrollbar-track {
    background-color: #1f2937;
}
